.resume-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume-form {
  background-color: bisque;
}

.resume-form textarea {
  width: 80%;
  height: 100px;
}
.resume-view {
  background-color: aqua;
}
